body {
  max-width: 317px;
  font-family: Inter, sans-serif;
  background-color: #1A1B21;
  text-align: center;
  position: relative; 
}

.container {
  position: relative;
  margin: 0 auto; 
  max-width: 317px;
}

.image {
  width: 100%;
  max-width: 317px;
  height: 370px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h2 {
  margin-top: 10px; 
  font-size: 24px; 
  font-weight: 700;
}

h4 {
  font-size: 12px; 
  font-weight: 400;
  color: #F3BF99;
  margin-top: -20px;
}

a {
  font-size: 10px; 
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  display: block; 
}

button {
  width: 100%;
  max-width: 113px;
  height: 34px;
  border-radius: 6px;
}

.email_button {
  background-color: white;
  color: black;
  font-size: 12px; 
  margin-top: 5px;
  padding: 6px 12px; 
  display: inline-block;
  border: 0.5px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.linkd_button {
  background-color: #4f93e2;
  font-size: 12px; 
  margin-left: 20px;
  padding: 6px 12px; 
  display: inline-block;
  color: white;
  border: 0.5px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.about_div,
.int_div {
  margin: 20px 25px; 
}

.about_head,
.int_head {
  font-size: 14px; 
  font-weight: 700;
  margin-top: 10px;
  text-align: left;
}

.about_para,
.int_para {
  font-size: 10px; 
  text-align: left;
  margin-top: 5px;
}
